# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

#Database
*.db

# Environment variables — NEVER commit these
.env
*.env

# Node
node_modules/
dist/
.next/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

test_*.py

*.mp3
*.wav
*.ogg
*.mp4
*.m4a